* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Karla"; }

.container {
  width: 85vw;
  background-color: #fafafa;
  margin: 0 auto; }

.button {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 1rem 3rem; }

.heading-line {
  width: 10rem; }

.section-title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "DM Serif Display"; }
  .section-title .section-title-sub {
    display: block;
    word-spacing: .5rem; }

.section-paragraph {
  margin: 3rem 0;
  font-size: 1.5rem; }

.header {
  color: #2d2640; }
  .header .header-container {
    margin: 0 auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "DM Serif Display";
    font-weight: 400; }
    .header .header-container .logo {
      padding: 3rem 0; }
    .header .header-container input[type="checkbox"] {
      display: none; }
    .header .header-container .nav .nav-menu:last-child {
      padding-right: 0px; }
    .header .header-container .nav .nav-menu .nav-item {
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      padding: 2rem; }
      .header .header-container .nav .nav-menu .nav-item a {
        text-decoration: none;
        color: #2b272f; }
      .header .header-container .nav .nav-menu .nav-item:hover {
        background-color: #2d2640;
        color: white; }

.heading-section {
  height: 110vh;
  overflow: hidden; }
  .heading-section .heading-container {
    height: 63%;
    background-color: #2d2640;
    position: relative; }
    .heading-section .heading-container .heading-row {
      width: 70vw;
      padding-top: 10rem;
      display: flex;
      justify-content: space-around;
      margin: 0 auto; }
      .heading-section .heading-container .heading-row .heading-title {
        color: white; }
        .heading-section .heading-container .heading-row .heading-title .heading-title-line {
          width: 10rem; }
      .heading-section .heading-container .heading-row .heading-image {
        margin-left: 2.5rem; }
        .heading-section .heading-container .heading-row .heading-image img {
          width: 45rem; }
    .heading-section .heading-container .pattern-intro-left {
      transform: translateY(-35rem); }
    .heading-section .heading-container .pattern-intro-right {
      position: absolute;
      top: -8rem;
      right: 0;
      width: 25vw; }

.feature-section-container {
  width: 70vw;
  margin: 0 auto; }
  .feature-section-container .feature-section {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0 6rem 0; }
    .feature-section-container .feature-section:not(:last-child) {
      padding-right: 1.5rem; }
    .feature-section-container .feature-section .feature-section-item .feature-section-item-icon {
      display: inline-block;
      color: white; }
    .feature-section-container .feature-section .feature-section-item .feature-section-item-title {
      font-weight: 700;
      font-family: "DM Serif Display"; }

.info-section-container {
  background-color: #2d2640;
  color: white;
  width: 70vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .info-section-container .pattern-how-we-work {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit; }
  .info-section-container .info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem; }

.footer {
  color: #2b272f;
  position: relative;
  padding-bottom: 6rem; }
  .footer .pattern-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw; }
  .footer .footer-container {
    width: 70vw;
    margin: 0 auto; }
    .footer .footer-container .socials {
      padding: 3rem 0; }
    .footer .footer-container .footer-nav-container {
      display: flex;
      justify-content: space-between;
      margin: 6rem 0; }
      .footer .footer-container .footer-nav-container .footer-nav {
        text-transform: uppercase;
        font-weight: 400; }
        .footer .footer-container .footer-nav-container .footer-nav .footer-nav-item {
          text-decoration: none;
          list-style-type: none;
          padding: 1rem 0; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 8rem; }

@media screen and (max-width: 500px) {
  .container {
    width: 100%; }
  .feature-section-container {
    text-align: center; }
  .feature-section {
    flex-direction: column; }
  .info-section-container {
    width: 100%; }
    .info-section-container .pattern-how-we-work {
      display: none; }
    .info-section-container .info-section {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-items: center;
      padding: 6rem; }
      .info-section-container .info-section .button {
        margin-top: 6rem; }
  .header .header-container {
    width: 100%;
    display: block; }
    .header .header-container .burger-menu {
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      margin: 2rem;
      width: 9%;
      cursor: pointer;
      display: inline-block;
      background: url(./images/icon-hamburger.svg) no-repeat 100% center; }
    .header .header-container .logo {
      padding: 4rem 2rem; }
    .header .header-container .nav {
      margin: 0;
      width: 100%;
      height: 0;
      background-color: #2d2640; }
      .header .header-container .nav .nav-menu {
        text-align: center; }
        .header .header-container .nav .nav-menu .nav-item {
          margin: 0;
          padding: 0;
          display: block;
          padding: 2rem;
          list-style-type: none; }
          .header .header-container .nav .nav-menu .nav-item a {
            margin: 0;
            color: white;
            text-decoration: none; }
    .header .header-container #menu-toggle:checked + .nav {
      height: auto; }
    .header .header-container #menu-toggle:checked + .burger-menu {
      background: url(../images/icon-hamburger.svg) no-repeat 100% center; }
  .footer .footer-container {
    width: 100%;
    margin: 0 auto; }
    .footer .footer-container .footer-mobile {
      display: flex;
      justify-content: space-around; }
    .footer .footer-container .footer-nav-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 6rem 0; }
      .footer .footer-container .footer-nav-container .footer-nav {
        margin-top: 6rem; }
        .footer .footer-container .footer-nav-container .footer-nav .footer-nav-item {
          text-decoration: none;
          list-style-type: none;
          padding: 1rem 0; } }
