.header{
    color: $primary-dark-violet;

    .header-container{
        margin: 0 auto;
        width:$width-secondary;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $font-family-header;
        font-weight: 400;

        .logo{
            padding: 3.1rem 0;
            z-index: 1;
        }
        input[type="checkbox"]{
            display: none;
        }
        .nav{
            .nav-menu{
    
                &:last-child{
                    padding-right: 0px;
                }
    
                .nav-item{
                    text-transform: uppercase;
                    display: inline-block;
                    text-decoration: none;
                    padding: 3rem;
                    margin: 2rem;
                    
                    a{
                        text-decoration: none;
                        color: $neutral-dark-violet;
                    }
                
                    &:hover{
                        color: $neutral-dark-violet;
                        border: 1px solid $neutral-dark-violet;
                    }
                }
            }
        }
    }
    
    
}