//color
$primary-dark-violet : hsl(256, 26%, 20%);
$primary-grayish-blue: hsl(216, 30%, 68%);

$neutral-dark-violet: hsl(270, 9%, 17%);
$neutral-grayish-violet: hsl(273, 4%, 51%);
$neutral-light-gray: hsl(0, 0%, 98%);

//fonts
$font-family-header: "DM Serif Display";
$font-family-body: "Karla";

//width
$width-secondary : 80vw;
