
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 10px;
}

body{
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: $font-family-body;
    
}
.container{
        width: 85vw;
        background-color: $neutral-light-gray;
        margin: 0 auto;
        // border: 1px solid rgba(0, 0, 0, 0.63);
    }
