.feature-section-container{
    width: $width-secondary;
    margin: 0 auto;

    .feature-section{
        display: flex;
        justify-content: space-between;
        padding: 6rem 0 6rem 0;

        &:not(:last-child){
            padding-right: 1.5rem;
        }
        
        .feature-section-item{
            .feature-section-item-icon{
                display: inline-block;
                color: white;
            }

            .feature-section-item-title{
                font-weight: 700;
                font-family: $font-family-header;
            }
        }

    }
}