.footer{
    color: $neutral-dark-violet;
    position: relative;
    padding-bottom: 6rem;

    .pattern-footer{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20vw;
    }

    .footer-container{
        width: $width-secondary;
        margin: 0 auto;

        .pattern-footer-mobile{
            display: none;
        }

        .socials{
            padding: 3rem 0;
        }

        .footer-nav-container{
            display: flex;
            justify-content: space-between;
            margin: 6rem 0;

            .footer-nav{
                text-transform: uppercase;
                font-weight: 400;       

                .footer-nav-item{
                    text-decoration: none;
                    list-style-type:none;
                    padding: 1rem 0;

                    a{
                        text-decoration: none;
                        color:$neutral-dark-violet;
                        
                    }
                }
            }
        }
    }

    
}