.info-section-container{
    background-color: $primary-dark-violet;
    color: white;
    width: $width-secondary;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0;

    .pattern-how-we-work{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
    }

    .pattern-how-we-work-mobile{
        display: none;
    }

    .info-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6rem;
    }
}
